/* You can add global styles to this file, and also import other style files */
:root {
  --bg-global: #191c32;
}

body {
  background-color: var(--bg-global);
}

.selected {
  background-color: #ddd;
}
